<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LogFactoryTypeFullName" value="Client.Utility.Logging.NLogLoggerFactory,Client.Utility" />
  </appSettings>
  <connectionStrings>
    <add name="localSQLite" connectionString="Data Source=D:/svn/MES/CODE/LY.DeveCollection/SqliteText.db;Version=3;" />
    <add name="CacheFileServer" connectionString="192.168.3.51:6381,password=926FECF08696,allowAdmin=true" providerName="" />
    <add name="LYMesSystemEntities" connectionString="metadata=res://*/Base.Model1.csdl|res://*/Base.Model1.ssdl|res://*/Base.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.238;initial catalog=LYMesSystem;user id=sa;password=sa123456@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LYMesSystemEntities1" connectionString="metadata=res://*/Base.Model2.csdl|res://*/Base.Model2.ssdl|res://*/Base.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.238;initial catalog=LYMesSystem;user id=sa;password=sa123456@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LYMesSystemEntities2" connectionString="metadata=res://*/Base.Model1.csdl|res://*/Base.Model1.ssdl|res://*/Base.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.238;initial catalog=LYMesSystem;user id=sa;password=sa123456@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDevExecuteService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ICfPExecuteService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:16498/Drums/CfPExecuteService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICfPExecuteService"
        contract="SRCfPExecute.ICfPExecuteService" name="WSHttpBinding_ICfPExecuteService" />
      <endpoint address="http://localhost:16498/DataColl/DevExecuteService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDevExecuteService"
        contract="SRExctue.IDevExecuteService" name="WSHttpBinding_IDevExecuteService" />
    </client>
  </system.serviceModel>
</configuration>